.hiro-catalog {
  padding: 0;
}
.title-section_catalog {
  padding: 0;
}
.hiro-bg {
  position: relative;
  height: 256px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  &_catalog {
    background-image: url(../img/catalog/catalog_bg.jpg);
  }
}
.bread-crumbs {
  padding: 64px 0 59px;
  display: flex;
  align-items: center;
  a,
  span {
    font-style: italic;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.05em;
    color: rgba(34, 41, 51, 0.4);
  }
}
.tube {
  padding: 0;
  background-color: $gray-light;
  margin-bottom: 115px;
  width: 100vw;
  position: relative;
  &-img {
    // width: 630px;
  }
  &::before {
    content: "";
    position: absolute;
    top: -24px;
    height: 2px;
    width: 100%;
    background-color: rgba(34, 41, 51, 0.2);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -24px;
    height: 2px;
    width: 100%;
    background-color: rgba(34, 41, 51, 0.2);
  }
}
.title-h3_blue {
  padding-bottom: 32px;
  max-width: 315px;
  &:hover {
    color: $blue;
  }
}
.wrapper_accordion {
  display: grid;
  grid-template-columns: auto 500px;
  align-items: flex-start;
  .wrapper_internal {
    padding: 45px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &_fitting {
      padding: 45px 0;
    }
  }
}
.tube_fittings {
  .wrapper_accordion {
    grid-template-columns: 500px auto;
  }
}
.accordion {
  max-width: 500px;
  min-width: 360px;
  width: 100%;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 2px solid rgba(34, 41, 51, 0.2);
    border-bottom: 2px solid rgba(34, 41, 51, 0.2);
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
      margin: 16px 0;
      border-bottom: 1px dotted transparent;
      &:hover {
        color: $blue;
        border-bottom: 1px dotted $blue;
      }
    }
  }
  summary::-webkit-details-marker {
    display: none;
  }

  summary:after {
    background: url(../img/catalog/icon/some-icon.svg) no-repeat;
    float: left;
    height: 20px;
    width: 20px;
    content: " ";
    background-position: center, center;
  }

  details[open] summary:after {
    background: url(../img/catalog/icon/other-icon.svg) no-repeat;
    background-position: center, center;
  }
}
.popular {
  padding: 0;
  margin-bottom: 96px;
  &__cards {
    display: flex;
    margin-top: 48px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -24px;
      height: 2px;
      width: 100%;
      background-color: rgba(34, 41, 51, 0.2);
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    margin: 0 12px;
    max-width: 290px;
  }
  &__img {
    margin-bottom: 24px;
  }
  &__descr {
    text-align: center;
  }
  .slider-arrows__left-slick,
  .slider-arrows__right-slick {
    transform: translateY(-100%);
  }
}
