.hiro-bg_doc {
  background: url(../img/doc/doc-bg.jpg);
}
.title-section_doc {
  padding-bottom: 0;
}
.doc-catalog {
  margin-top: 50px;
  background: $gray-light;
  width: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -24px;
    height: 2px;
    background: rgba(34, 41, 51, 0.2);
    left: 0;
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -24px;
    height: 2px;
    background: rgba(34, 41, 51, 0.2);
    left: 0;
    width: 100%;
  }
  &__box {
    display: flex;
    gap: 24px;
    padding-bottom: 128px;
  }
  &__img {
    background: white;
    padding: 14px;
    img {
      max-width: 264px;
      width: 100%;
    }
  }
}
.doc-text {
  font-weight: bold;
  padding-top: 64px;
  margin-bottom: 32px;
}
.doc-link {
  margin-top: 0;
}
.wrapper-doc {
  margin-top: 56px;
}
.certificate {
  margin-top: 32px;
  .doc-catalog__img {
    background-color: $gray-light;
  }
  .doc-catalog__box {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -24px;
      height: 4px;
      background: $blue;
      left: 0;
      width: 100%;
    }
  }
}
.link-img_doc {
  margin-right: 70px;
}
/*-----------перебивание стилей плагина---------*/
.ya-share2__container_size_m
  .ya-share2__item_more.ya-share2__item_has-pretty-view
  .ya-share2__link_more.ya-share2__link_more-button-type_short {
  padding: 4px;
  border: none;
  background: transparent !important;
}
.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more {
  background: transparent !important;
  border: 0 !important;
  border-radius: 0px !important;
}
.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
  background-image: url(../img/doc/link.svg) !important;
}
.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
  height: 28px !important;
  width: 28px !important;
  background-size: 21px 25px !important;
}
/*-----------feedback---------*/
.feedback {
  margin-top: 0;
  background: $gray-light;
}
div.wrapper_feedback {
  display: flex;
  padding: 93px 25px 103px;
  justify-content: space-between;
  align-items: center;
  gap: 121px;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 714px;
    width: 100%;
  }
  .send {
    max-width: 490px;
    width: 100%;
    position: relative;
    button {
      padding: 16px 32px;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      border: 1px solid $blue;
      img {
        padding-left: 14px;
      }
      &:focus {
        background: #d9dee2;
      }
    }
    &-text {
      font-weight: bold;
      margin-bottom: 92px;
    }
  }

  .group {
    border-bottom: 2px solid rgba(34, 41, 51, 0.2);
    padding: 0 30px;
    position: relative;
    width: 100%;
    &:after {
      content: "";
      bottom: -2px;
      left: 30px;
      width: 60px;
      height: 2px;
      display: block;
      background: $blue;
      position: absolute;
      transition: 0.1s;
    }
    &.active:after {
      width: calc(100% - 60px);
    }
    input {
      background: $gray-light;
      width: 100%;
      font-size: 18px;
      border: 0;
      outline: none;
      padding: 50px 0 0 0;
      font-family: $evol;
      &::placeholder {
        transform: translateY(-20px);
        visibility: visible !important;
      }
    }
  }
}
.send__result {
  position: absolute;
  bottom: -80px;
  left: 0;
  display: none;
  p {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
  &.visible {
    display: block;
    .send__result-successfully {
      display: none;
    }
  }
}
