.subtitle {
  max-width: 567px;
  color: white;
}
.hiro-bg_fitting {
  background: url(../img/fitting/bg-fitting.jpg);
  background-position: center center;
  height: 485px;
}
.title-section_fitting {
  color: white;
}
.hiro-fitting {
  margin: 0;
}
.tube-fitting_section {
  .wrapper_internal {
    padding-top: 96px;
    height: 100%;
  }
}
