.subtitle {
  max-width: 567px;
  color: white;
}
.hiro-bg_fitting {
  background: url(../img/fitting/bg-fitting.jpg);
  background-position: center center;
  height: 485px;
}
.title-section_fitting {
  color: white;
}
.hiro-fitting {
  margin: 0;
}
.tube-fitting_section {
  .wrapper_internal {
    padding-top: 96px;
    height: 100%;
  }
}
/*----СТИЛИ ДЛЯ НАСТРОЕК ФИЛЬТРАЦИИ-------*/
.accordion__body_range-thread {
  display: block;
  margin: 0;
  p {
    max-width: 259px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ui-widget.ui-widget-content {
    max-width: 260px !important;
    margin-bottom: 38px;
    margin-top: 38px;
    min-width: 100px;
    width: 100%;
    border: transparent;
    background: $gray-light;
  }

  .ui-slider-range.ui-corner-all.ui-widget-header {
    background: $blue !important;
  }
  input {
    border: 0;
    max-width: 104px;
    min-width: 30px;
    background: #eceeef;
    padding: 5px 3px;
    text-align: center;
    font-size: 16px;
    font-family: $evol;
  }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 24px;
    height: 28px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
  }
  .ui-slider-horizontal .ui-slider-handle {
    top: -12px;
  }
  .ui-slider-handle.ui-corner-all.ui-state-default:last-child {
    background: $gray-light url(../img/fitting/icon/mdi-light_chevron-right.png);
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 2px 3px 7px #80808069;
    border: 0;
  }
  .ui-slider-handle.ui-corner-all.ui-state-default {
    background: $gray-light url(../img/fitting/icon/mdi-light_chevron-left.png);
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 2px 3px 7px #80808069;
    border: 0;
  }
}
/*-------ЧЕКБОКСЫ-----*/
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-bottom: 26px;
  font-size: 18px;
  &:last-child {
    margin-bottom: 0;
  }
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.custom-checkbox:checked + label::before {
  border-color: #222933;
  background-color: #fff;
  background-image: url(../img/icon/checkbox-checked.svg);
}
