@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://allfont.ru/allfont.css?fonts=good-times");
@font-face {
  font-family: Evolventa;
  src: local("Evolventa"), url("../fonts/Evolventa-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  src: local("Evolventa Oblique"), url("../fonts/Evolventa-Oblique.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Evolventa;
  src: local("Evolventa Bold"), url("../fonts/Evolventa-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  src: local("Evolventa Bold Oblique"),
    url("../fonts/Evolventa-BoldOblique.woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Good Timing Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Good Timing Bold"),
    url("../fonts/good\ timing\ bd.woff") format("woff");
}
