.footer {
  margin-top: 144px;
  background-color: $dark-blue;
  &__menu {
    padding: 64px 0;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-family: $evol;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0.05em;
      color: white;
      display: flex;
      align-items: center;
      img {
        margin-left: 10px;
      }
      :hover {
        text-decoration: underline;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    p {
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $red;
      margin-bottom: 20px;
    }
    a {
      color: white;
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.05em;
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
    a:hover {
      text-decoration: underline;
    }
    a:not(:last-child) {
      padding-bottom: 20px;
    }
  }
  &__copyrights {
    display: flex;
    justify-content: start;
    span {
      font-family: $good;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: white;
      padding: 0 10px;
      border-right: 0.75px solid $red;
    }
    a {
      color: white;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      padding-left: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/*Footer mobile start--------------------------*/
.footer-mobile {
  display: none;
}
.footer-mobile {
  background-color: $gray-light;
  &__contact {
    display: flex;
    position: relative;
    flex-direction: column;
    letter-spacing: 0.05em;
    font-size: 12px;
    padding: 16px 0;
    &::before {
      content: "";
      position: absolute;
      top: -8px;
      height: 2px;
      width: 100%;
      background-color: rgba(34, 41, 51, 0.2);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      height: 2px;
      width: 100%;
      background-color: rgba(34, 41, 51, 0.2);
    }
    p {
      line-height: 20px;
      text-transform: uppercase;
      color: $dark-blue;
      padding-bottom: 16px;
    }
    .phone-footer {
      font-family: $good-tim;
      font-size: 12px;
      line-height: 24px;
      color: $dark-blue;
    }
    a {
      img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }
  }
  .phone-footer {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
  }
  &__mail {
    font-family: $evol;
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 15px;
  }
  &__link {
    font-size: 12px;
    line-height: 15px;
    width: fit-content;
    color: $blue;
    border-bottom: transparent 1px dashed;
    &:hover {
      border-bottom: $blue 1px dashed;
    }
  }
  &__link-up {
    display: flex;
    justify-content: end;
    img {
      margin-top: 30px;
      margin-bottom: 8px;
      opacity: 1;
    }
    &:hover {
      border-bottom: none;
    }
  }
  &__link-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    img {
      opacity: 0.2;
    }

    &:hover {
      a {
        border-bottom: $blue 1px dashed;
      }
      img {
        opacity: 1;
      }
    }
  }
  &__document {
    padding-top: 32px;
    background: white;
    img {
      width: 16px;
      height: 16px;
      margin-left: 20px;
      border-bottom: none;
    }
  }
  &-bottom {
    background-color: $dark-blue;
    &__list {
      gap: 40px;
      display: flex;

      div {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
    p {
      text-transform: uppercase;
      color: $red;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.05em;
      padding-top: 24px;
      padding-bottom: 12px;
    }
    a {
      font-size: 12px;
      line-height: 20px;
      color: white;
      letter-spacing: 0.05em;
    }
  }
}
.footer__copyrights_mobile {
  margin-top: 32px;
  padding-bottom: 24px;
  background-color: $dark-blue;
  span:last-child {
    border: none;
  }
}
