.footer {
  margin-top: 144px;
  background-color: $dark-blue;
  &__menu {
    padding: 64px 0;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-family: $evol;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0.05em;
      color: white;
      display: flex;
      align-items: center;
      img {
        margin-left: 10px;
      }
      :hover {
        text-decoration: underline;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $red;
      margin-bottom: 20px;
    }
    a {
      color: white;
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.05em;
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
    a:hover {
      text-decoration: underline;
    }
    a:not(:last-child) {
      padding-bottom: 20px;
    }
  }
  &__copyrights {
    display: flex;
    justify-content: start;
    span {
      font-family: $good;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: white;
      padding: 0 10px;
      border-right: 0.75px solid $red;
    }
    a {
      color: white;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      padding-left: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
