.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  display: block !important;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  margin: 0;
  padding: 0;
}
.title-section {
  font-family: $good;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 6.4rem;
  display: flex;
  letter-spacing: 0.01em;
  color: $dark-blue;
  padding-bottom: 64px;
}
section {
  padding-top: 152px;
}
.bg-section {
  background: url(../img/bg_experience.png) no-repeat;
}
.button {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: $red;
  padding: 16px 32px;
  border: 2px solid $blue;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}
