.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  display: block;
}

section {
  margin-top: 152px;
}
.bg-section {
  background: url(../img/bg_experience.png) no-repeat;
}
summary {
  cursor: pointer;
}
.button {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: $red;
  padding: 16px 32px;
  border: 2px solid $blue;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.link-medium {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05em;
  color: $dark-blue;
}
h1 {
  margin: 0;
  padding: 0;
}

.title-section {
  font-family: $good;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 6.4rem;
  display: flex;
  letter-spacing: 0.01em;
  color: $dark-blue;
  padding-bottom: 64px;
  mix-blend-mode: hard-light;
}
.title-h2 {
  font-family: $good;
  font-style: normal;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
}
.title-h3 {
  font-family: $good;
  font-style: normal;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0.03em;
}
.title-h4 {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.05em;
  color: $dark-blue;
}
.text-medium {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.01em;
  color: $dark-blue;
}
.text-average {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.05em;
}
.text-normal {
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.05em;
}

.filters {
  display: grid;
  grid-template-columns: 380px auto;
  gap: 40px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 4px;
    width: 100%;
    background-color: $blue;
  }
  &__title {
    text-transform: uppercase;
    color: $blue;
    margin: 32px 0;
  }
  &__field-cards {
    display: flex;
    flex-direction: column;
  }
  &__reset {
    border: 0;
    background: transparent;
    margin-top: 32px;
    color: $dark-blue;
    border-bottom: 1px dashed $dark-blue;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 400px));
    gap: 20px;
    min-width: 0;
  }
  &__selected {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    margin: 26px 0 30px;
    flex-wrap: wrap;
  }
  &__item {
    width: fit-content;
    border: 0.75px solid #222933;
    border-radius: 3px;
    padding: 3px 52px 3px 12px;
    position: relative;
    max-width: 250px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__item-close {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 20px;
    transform: translateY(-50%);
    height: 20px;
    border: 0;
    background: url(../img/icon/close-black.svg) no-repeat;
    background-position: center center;
  }
  &__card {
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }
  &__card-desc {
    width: 100%;
    span {
      font-weight: bold;
      display: block;
      margin: 24px 0 16px;
    }
  }
  .accordion__body {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
/*для  доп страницы с ссылками*/
.link-section {
  margin: 50px 0;
}
.wrapper_link-section {
  display: flex;
  flex-direction: column;
}
.control {
  color: #a5a095;
  margin: 5px 0;
  font-size: 20px;
  line-height: 30px;
  font-family: $good;
}
.control.active {
  color: $blue;
}
/*-------аккордион с наполнением*/
section.accordion-subcategory {
  margin-top: 50px;
}
.accordion-subcategory {
  .accordion {
    max-width: 100%;
  }
  .accordion__title {
    border: 0;
    font-weight: bold;
    background: $gray-light;
  }
  .accordion__item:last-child .accordion__title {
    border-bottom: 0;
  }
  .accordion__item:not(:first-child) {
    .accordion__title {
      border-top: 2px solid white;
    }
  }
  .accordion__body {
    margin-left: 0;
    background: #fff;
  }
  .accordion summary:after {
    display: none;
  }
  .wrapper_summary {
    position: relative;
  }
  .wrapper_summary:after {
    background: url(../img/catalog/icon/some-icon.svg) no-repeat;
    right: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    content: " ";
    background-position: center, center;
  }

  details[open] .wrapper_summary:after {
    background: url(../img/catalog/icon/other-icon.svg) no-repeat;
    background-position: center, center;
  }
}
/*-------таблица все серии----*/
.series {
  width: 100%;
  margin: 65px auto 32px auto;
  color: black;
  thead {
    background-color: $gray-light;
  }
  th {
    vertical-align: middle;
    text-align: center;
    font-style: italic;
    padding: 12px 5px;
  }
  td {
    vertical-align: middle;
    text-align: center;
    margin: 11px 0;
    min-height: 46px;
    padding: 11px 5px;
  }
  td.td-name {
    text-align: start;
  }
  tr {
    border-bottom: 2px solid #eceeef;
    &:hover {
      background: $gray-light;
    }
  }
  .th {
    &-series {
      width: 189px;
    }
    &-name {
      width: 420px;
    }
    &-work-bar {
      width: 138px;
    }
    &-optimal-bar {
      width: 148px;
    }
    &-optimal-temp {
      width: 148px;
    }
    &-material {
      width: 197px;
    }
  }
  tr.tr-invisible {
    display: none;
  }
  tr.tr-invisible.visible {
    display: table-row;
  }
}
/*-----ccылка под таблицей-------*/
a.show-more {
  color: $blue;
  display: inline-flex;
  align-items: center;
  margin-bottom: 65px;
  &:hover {
    border: 0;
  }
  img {
    margin-left: 22px;
  }
}
a.show-more.active {
  color: transparent;
  img {
    transform: rotate(180deg);
  }
}
/*-----------состав - раздел аккордиона---*/
.wrapper_structure {
  margin-top: 64px;
  margin-bottom: 64px;
  .structure-title {
    text-transform: uppercase;
    margin-bottom: 48px;
  }
  ol {
    list-style-type: decimal;
  }
  .structure-box {
    display: flex;
    margin-bottom: 96px;
    img {
      margin-right: 120px;
      max-width: 276px;
      max-height: 264px;
      width: 100%;
    }
  }
  .structure-list {
    li {
      margin-bottom: 25px;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
  .scheme-desc {
    font-style: italic;
    max-width: 300px;
    margin-bottom: 32px;
  }
}
/*------описание -- радел аккордиона фиттингов---*/
.uppercase {
  text-transform: uppercase;
}
.wrapper_accordion-desc {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.05em;
  margin-top: 52px;
  margin-bottom: 52px;
}
.desc-termin {
  margin-bottom: 20px;
}
.desc-info {
  margin: 64px 0 48px;
}
.desc-sheme {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 48px;

  img {
    margin-right: 60px;
    width: 100%;
    max-width: 166px;
  }
}
.desc-sheme_one {
  margin-top: 64px;
}
.desc-list {
  li:not(:last-child) {
    margin-bottom: 32px;
  }
  li {
    padding-left: 60px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: $blue;
      top: 50%;
      left: 0;
    }
  }
}
.desc-sheme-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 46px;
  p {
    font-style: italic;
    margin-bottom: 64px;
  }
  img {
    width: 100%;
    max-width: 820px;
  }
}
/*---------аккордион документация/*/
.wrapper_accordion-doc {
  margin-top: 65px;
}
.link-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  .link-medium {
    line-height: 1;
    padding: 0;
    border-bottom: 1px dashed transparent;
    img {
      margin-left: 47px;
    }
    &:hover {
      color: $blue;
      border-bottom: 1px dashed $blue;
    }
  }
  .link-img {
    position: relative;
    margin-right: 70px;
    color: #c7c9cb;
    &::after {
      content: "";
      position: absolute;
      right: -54px;
      top: 50%;
      transform: translateY(-50%);
      width: 34px;
      height: 34px;
      background: url(../img/icon/pdf.svg);
      background-position: center center;
    }
  }
}
ol.links-list {
  list-style-type: decimal;
  li::marker {
    font-size: 1.6rem;
  }
}
/*----------блок габаритов аккордон--*/
.size-title {
  margin: 64px 0 48px;
}
.size-box {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 43px;
  justify-content: space-between;
  margin-bottom: 64px;
  img {
    max-width: 377px;
    width: 100%;
    max-height: 362px;
    flex: 1;
  }
  table {
    flex: 2;
    margin: 0;
  }
}
.series_size {
  .th-series {
    width: 202px;
  }
  .th-d,
  .th-d2,
  .th-l1,
  .th-l2,
  .th-l4,
  .th-ch {
    width: 52px;
  }
}
