.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  display: block;
}

section {
  margin-top: 152px;
}
.bg-section {
  background: url(../img/bg_experience.png) no-repeat;
}
.button {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: $red;
  padding: 16px 32px;
  border: 2px solid $blue;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.link-medium {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05em;
  color: $dark-blue;
}
h1 {
  margin: 0;
  padding: 0;
}

.title-section {
  font-family: $good;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 6.4rem;
  display: flex;
  letter-spacing: 0.01em;
  color: $dark-blue;
  padding-bottom: 64px;
  mix-blend-mode: hard-light;
}
.title-h3 {
  font-family: $good;
  font-style: normal;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0.03em;
}
.title-h4 {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.05em;
  color: $dark-blue;
}
.text-medium {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.01em;
  color: $dark-blue;
}
.text-average {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.05em;
}
.text-normal {
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.05em;
}

.filters {
  display: grid;
  grid-template-columns: 380px auto;
  gap: 40px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 4px;
    width: 100%;
    background-color: $blue;
  }
  &__title {
    text-transform: uppercase;
    color: $blue;
    margin: 32px 0;
  }
  &__field-cards {
    display: flex;
    flex-direction: column;
  }
  &__reset {
    border: 0;
    background: transparent;
    margin-top: 32px;
    color: $dark-blue;
    border-bottom: 1px dashed $dark-blue;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 400px));
    gap: 20px;
    min-width: 0;
  }
  &__selected {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    margin: 26px 0 30px;
    flex-wrap: wrap;
  }
  &__item {
    width: fit-content;
    border: 0.75px solid #222933;
    border-radius: 3px;
    padding: 3px 52px 3px 12px;
    position: relative;
    max-width: 250px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__item-close {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 20px;
    transform: translateY(-50%);
    height: 20px;
    border: 0;
    background: url(../img/icon/close-black.svg) no-repeat;
    background-position: center center;
  }
  &__card {
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }
  &__card-desc {
    width: 100%;
    word-break: break-all;
    span {
      font-weight: bold;
      display: block;
      margin: 24px 0 16px;
    }
  }
}
