.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  &__top {
    position: relative;
    border-bottom: 3px solid $dark-red;
  }
  &__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;

    &_top {
      justify-content: space-between;
      padding-top: 10px;
      position: relative;
    }
    &_bottom {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
.logo {
  position: relative;
  bottom: -3px;
}
.menu {
  display: flex;
  align-items: center;
  .phone {
    font-size: 2rem;
    line-height: 158%;
    letter-spacing: 0.05em;
    color: $blue;
    font-family: $good-tim;
    margin-left: 20px;
    min-width: 213px;
  }
  .search {
    padding-right: 20px;
    border-right: 0.75px solid rgba(34, 41, 51, 0.2);
    &-btn {
      border: none;
      background: transparent;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  &-list {
    display: flex;
    width: 100%;
  }
  &-item:not(:last-child) {
    margin-right: 50px;
  }
  &-link {
    font-size: 1.8rem;
    line-height: 136%;
    letter-spacing: 0.05em;
    color: $dark-blue;
    &:hover {
      color: $red;
      text-shadow: 0 0 0.5px $red, 0 0 0.5px $red;
    }
  }
}

/*--------DROPDOWN START----------------*/
.dropdown__icon {
  width: 24px;
  height: 24px;
}
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 20px;

  &__options_visible {
    .dropdown__options {
      animation: showit 0.35s forwards ease-out;
    }
    .dropdown__arrow {
      transform: rotate(-180deg);
      width: 15px;
      height: 15px;
    }
  }

  &__box {
    max-width: 65px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 0.75px solid rgba(34, 41, 51, 0.2);
  }

  &__option {
    display: flex;
    align-items: center;
  }

  &__arrow {
    width: 15px;
    height: 15px;
    transition: all 0.2s ease-in-out;
    margin: 0 20px;
  }

  &__options {
    position: absolute;
    top: 38px;
    left: -20px;
    padding: 20px 20px;
    background-color: #fff;
    min-width: 364px;
    transform: scale(0);
    z-index: 1;
    .descr {
      padding-left: 12px;
      font-size: 1.8rem;
    }
  }

  @keyframes showit {
    0% {
      transform: scale(0);
    }

    70% {
      transform: scale(0.75);
    }

    80% {
      transform: scale(0.85);
    }

    100% {
      transform: scale(1);
    }
  }

  .dropdown__option {
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    .descr {
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.05em;
    }
    &:hover {
      opacity: 1;
      color: $red;
      text-shadow: 0 0 0.5px $red, 0 0 0.5px $red;
    }

    &_selected {
      opacity: 1;
    }
  }
}
.dropdown__selected {
  .descr {
    display: none;
  }
}
.dropdown__options {
  .dropdown__option {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }
}
/*--------DROPDOWN END----------------*/
.menu-burger {
  position: relative;
  width: 24px;
  height: 24px;
  display: block;
  margin-left: 20px;
}

.menu-burger span,
.menu-burger:after,
.menu-burger:before {
  height: 3px;
  width: 100%;
  position: absolute;
  background: rgb(34, 41, 51);
  margin: 0 auto;
}
.menu-burger {
  display: none;
  span {
    bottom: 0;
  }
  &:after,
  &:before {
    content: "";
  }
  &:after {
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    top: 0;
  }
}
.menu-burger.open-menu {
  span {
    opacity: 0;
    transition: 0.1s;
  }
  &:before {
    transform: rotate(45deg);
    top: 50%;
    transition: 0.3s;
  }
  &:after {
    transform: rotate(-45deg);
    top: 50%;
    transition: 0.3s;
  }
}
.menu-mobile {
  z-index: 999;
  display: none;
  position: absolute;
  top: 59px;
  border-radius: 0 0 0 20px;
  right: 0;
  background: url(../img/slider2.png);
  width: 154px;
  height: auto;
  transform: translateX(100%);
  transition: all 0.3s ease;
  border-left: 1px solid rgb(206, 209, 211);
  border-bottom: 1px solid rgb(206, 209, 211);
  .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0 0 20px;
    &-list {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    &-item {
      margin: 0;
      margin-bottom: 24px;
    }
  }
  .dropdown {
    padding: 22px 0 16px 22px;
    border-bottom: 2px solid rgba(34, 41, 51, 0.2);
    margin: 0;
    display: block;
    &__box {
      border: none;
      justify-content: flex-start;
    }
    &__options {
      position: absolute;
      top: 65px;
      left: 0;
      padding: 20px 20px;
      background: url(../img/slider2.png);
    }
  }
}
.menu-mobile.open-menu {
  transform: translateX(0);
}
/*-----------------------*/

.search-btn input {
  display: inline-block;
  outline: none !important;
}
.search-btn input[type="search"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  font-size: 25px;
  line-height: 20px;
  box-sizing: border-box;
  background: transparent;
  width: 0;
  border: 0.3rem solid transparent;
  color: transparent;
  transition: all 0.2s;
  &::placeholder {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    line-height: 24px;
    align-items: center;
    color: rgba(16, 58, 100, 0.6);
  }
}

._search-focus.search-btn input[type="search"] {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0 47px;
  font-size: 18px;
  opacity: 1;
  color: #103a64;
  border-bottom-color: #103a64;
  z-index: 9;
  transition: all 0.2s;
  background: #fff url(../img/icon/carbon_search.svg) 10px no-repeat;
}

.search-btn__fake-submit {
  background: url(../img/icon/search.svg) no-repeat 0 50%;
  background-size: center center;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  color: transparent;
  overflow: hidden;
}

._search-focus .search-btn__fake-submit {
  display: none;
}
.search-close {
  display: none;
  border: none;
  width: 20px;
  height: 19px;
  position: absolute;
  top: 50%;
  right: 3%;
  background-size: cover;
  transform: translateY(-30%);
  background: url(../img/icon/search-close.svg) no-repeat;
  background-position: center center;
  z-index: 10;
}
.search-close.search-close_visible {
  display: block;
}

/*-------------------hover-catalog-----------------------------------*/
.hover-catalog {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100px;
  padding-top: 10px;
  display: none;
  left: 0;
  transition: 0.3s;
  .wrapper_hover-catalog {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__field {
    display: flex;
    margin: 34px 0;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    img {
      width: 100%;
      max-width: 152px;
      height: fit-content;
    }
  }
  &__title {
    font-size: 1.8rem;
    position: relative;
    line-height: 3.2rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-bottom: 32px;
    &::before {
      content: "";
      position: absolute;
      top: -16px;
      left: 0;
      width: 80px;
      height: 2px;
      background-color: rgba($dark-blue, 0.2);
    }
    &:hover {
      color: $blue;
    }
    &:hover::before {
      background-color: rgba($blue, 0.5);
    }
  }
  &__list-item {
    margin: 16px 0;
    max-width: 250px;
    a {
      border-bottom: 1px dashed transparent;
      &:hover {
        color: $blue;
        border-bottom: 1px dashed $blue;
      }
    }
  }
}

.hover-catalog__field:first-child {
  border-right: 1px solid rgba($dark-blue, 0.2);
  img {
    margin-top: 20px;
  }
}
.hover-catalog__field:last-child {
  .hover-catalog__box {
    margin-left: 20px;
  }
}
.header {
  .nav {
    .nav-link_hover:hover .hover-catalog {
      display: block;
    }
  }
}
@media (max-width: 1400px) {
  .hover-catalog {
    background: #fff;
    position: absolute;
    width: 100%;
    top: 87px;
  }
}
