.hiro {
  margin-top: 0 !important;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }
  .wrapper {
    height: 100%;
  }
}
h1.title {
  font-size: 6.4rem;
  line-height: 8.8rem;
  font-family: "Good Timing Bold";
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-blue;
  max-width: 750px;
  margin: 96px 0 80px;
  span {
    font-size: 3.8rem;
    line-height: 5.6rem;
  }
}
.slider {
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 122px);
  transition: all 1s;
  background-size: cover;
}
.slider[data-slideId="0"] {
  background-image: url(../img/slider0.jpg);
}
.slider[data-slideId="1"] {
  background-image: url(../img/slider1.jpg);
}
.slider[data-slideId="2"] {
  background-image: url(../img/slider2.png);
}
.slider[data-slideId="3"] {
  background-image: url(../img/slider3.png);
}
.slider[data-slideId="4"] {
  background-image: url(../img/slider4.png);
}
.primary-btn {
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  background: $dark-blue;
  padding: 16px 32px;
  display: inline-block;
  margin-bottom: 140px;
}

.pagination-slider {
  max-width: 80px;
  margin-bottom: 96px;
}
.line {
  width: 40px;
  height: 2px;
  background-color: $dark-blue;
  padding: 2px;
  cursor: pointer;
}
.line:not(:last-child) {
  margin-bottom: 30px;
}
.line_active {
  width: 80px;
  height: 4px;
  background-color: $red;
}
