@media (max-width: 1400px) {
  html {
    font-size: 8px !important;
  }
  .wrapper {
    padding: 0 25px;
  }
  section {
    margin-top: 100px;
  }
  .header__wrapper {
    padding: 0 35px;
  }
  .hiro {
    &__container {
      justify-content: space-around;
    }
  }
  .search-btn input[type="search"] {
    height: 49px;
  }
  .primary-btn {
    margin-bottom: 60px;
  }
  .line:not(:last-child) {
    margin-bottom: 20px;
  }
  h1.title {
    font-size: 5.4rem;
    line-height: 7.8rem;
    max-width: 750px;
    margin: 50px 0 50px;
    padding: 0;
    span {
      font-size: 2.8rem;
      line-height: 4.6rem;
    }
  }
  .application {
    .production__text {
      max-width: 750px;
    }
  }
  .number {
    position: absolute;
    right: 0;
    width: 300px;
  }
  .slider-app__img {
    width: 300px;
    height: 259px;
  }
  .slider-app__desc {
    max-width: 250px;
    bottom: 30px;
    left: 40px;
  }
  .slick-dots button {
    width: 50px;
  }
  .filters__cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  /*------------fitting------------*/
  section.filter-fitting .filters__cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
  }
  /*------accordion---------*/
  .desc-sheme {
    margin-bottom: 20px;
  }
  .desc-sheme_one {
    margin-top: 30px;
  }
  .desc-sheme img {
    margin-right: 30px;
    width: 100%;
    max-width: 110px;
  }
  .desc-info {
    margin: 35px 0 35px;
  }
  .desc-sheme-big {
    margin: 40px 0 46px;
    p {
      margin-bottom: 30px;
    }
  }
  /*--------filter-------------*/
  .custom-checkbox + label {
    margin-bottom: 26px;
    font-size: 1.8rem;
  }
  /*-------tabs------*/
  .series_size .th-series {
    width: 120px;
  }
  div.wrapper_product {
    grid-template-columns: minmax(286px, auto) minmax(215px, 506px);
    gap: 40px;
  }
  div.wrapper_product .product-box_cards {
    gap: 30px;
  }
}

@media (max-width: 1250px) {
  section {
    margin-top: 50px;
  }

  .experience {
    &__card {
      padding-bottom: 40px;
    }
  }
  .application {
    .production__text {
      max-width: 650px;
    }
  }
  .number {
    position: absolute;
    right: 0;
    width: 250px;
  }
  /*-------catalog-----------*/

  .tube .wrapper_accordion {
    grid-template-columns: auto 500px;
    align-items: center;
    gap: 100px;
    .tube-img {
      width: 100%;
    }
    .accordion {
      width: 100%;
    }
  }
  .wrapper_info .info-top {
    margin: 48px 0;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    p {
      max-width: 100%;
      width: 100%;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  div.hiro-bg_fitting {
    height: 300px;
  }
}

@media (max-width: 915px) {
  .header__bottom,
  .dropdown,
  .phone {
    display: none;
  }
  h1.title {
    margin: 50px 0 50px;
  }
  .primary-btn {
    margin-bottom: 30px;
  }
  .menu-burger,
  .menu-mobile {
    display: block;
  }
  .pagination-slider {
    margin-bottom: 20px;
  }
  .menu-mobile {
    top: 48px;
  }
  .production__link {
    margin-left: 10px;
  }
  .footer-mobile-bottom__list {
    padding-bottom: 10px;
  }
  .fitting {
    .product__card {
      width: 215px !important;
    }
  }
  .application {
    .production__text {
      max-width: 350px;
    }
  }
  .number {
    position: absolute;
    right: 0;
    width: 225px;
  }
  .dropdown__options {
    min-width: 165px;
  }
  .search-btn input[type="search"] {
    height: 59px;
  }
  /*------------catalog------------*/
  .tube .wrapper_accordion {
    grid-template-columns: 400px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .wrapper_internal {
      padding: 0;
      padding-bottom: 40px;
    }
    .accordion {
      width: 100%;
    }
    .tube-img {
      width: 100%;
    }
  }
  .tube.tube_fittings {
    .wrapper_accordion {
      grid-template-columns: 400px;
      .wrapper_internal {
        padding: 0;
        padding-top: 45px;
      }
    }
  }
  .title-h4 {
    text-align: center;
  }
  .popular__cards .popular__card {
    max-width: 215px;
  }
  /*-----------------*/
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    position: relative;
    .filters__field {
      .accordion {
        max-width: 500px;
        min-width: 175px;
        width: 100%;
      }
    }
  }
  div.bread-crumbs {
    margin: 20px 0 40px;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .bread-crumbs.bread-crumbs_expense {
    margin: 20px 0 20px;
  }
  section.info-subcategory {
    margin-top: 45px;
  }
  div.hiro-bg {
    height: 200px;
  }
  /*--------document-----*/
  .doc-text {
    padding-top: 28px;
  }
  .doc-catalog__box {
    gap: 24px;
    padding-bottom: 80px;
  }
}

@media (max-width: 730px) {
  .footer__menu {
    display: none;
  }
  .slick-dots button {
    width: 30px;
  }
  .footer-mobile {
    display: block;
  }
  /*/------------fitting-function------*/
  .info {
    .info-list {
      grid-template-columns: 1fr;
    }
    .info-list__item {
      max-width: none;
    }
  }
  .filter-fitting {
    .footer-mobile__link-up {
      display: none;
    }
  }
  /*-----doc------*/
  .doc-catalog__box {
    flex-wrap: wrap;
    padding-bottom: 80px;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  h1.title {
    font-size: 25px;
    line-height: 45px;
    max-width: calc(100vw - 46px);
  }
  div.hiro-bg {
    height: 130px;
  }

  .wrapper {
    padding: 0 23px;
  }
  .product__img {
    width: 100%;
    min-height: 148px;
  }
  .product__main {
    figcaption {
      top: 16px;
      left: 16px;
      font-size: 16px;
      line-height: 24px;
      opacity: 1;
      max-width: 210px;
    }
  }
  .application {
    .production__info {
      align-items: flex-start;
    }
  }
  .production__info {
    flex-direction: column;
    .production__link {
      margin-left: 0px;
    }
  }
  .fitting .product__card {
    width: 160px !important;
  }
  .product__card figcaption {
    bottom: 6px;
    left: 24px;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .production {
    .product__cards {
      display: flex;
      .product__card {
        width: 160px !important;
      }
    }

    .slider-arrows {
      &__left {
        position: absolute;
        right: 23px;
        top: 50%;
        transform: translate(50%, -50%);
      }
      &__right {
        position: absolute;
        left: 23px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .experience__desc {
    letter-spacing: 0;
  }
  .experience__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
  .logo {
    position: relative;
    bottom: -11px;
    img {
      width: 200px;
    }
  }

  .menu-mobile {
    top: 45px;
  }
  .experience__card {
    padding-bottom: 0px;
    padding-top: 8px;
    margin: 0 auto;
    max-width: 600px;
    .experience__img {
      width: 100%;
    }
  }
  .experience__card:not(:nth-child(1)) {
    border-top: 2px solid rgba(34, 41, 51, 0.2);
  }
  .experience__title {
    padding: 24px 0 12px;
  }
  .header__wrapper {
    padding: 0px 10px;
  }
  section {
    margin-top: 40px;
  }
  .title-section {
    line-height: 25px;
    padding-bottom: 16px;
    font-size: 23px;
    max-width: 246px;
  }
  .number {
    width: 128px;
    bottom: 89px;
  }
  .slider-app {
    margin-top: 13px;
  }
  .production__text {
    min-width: 200px;
    padding-top: 15px;
  }
  .production__info {
    padding-bottom: 22px;
  }
  html {
    font-size: 7px !important;
  }
  .footer {
    margin-top: 48px;
  }
  .search-btn input[type="search"] {
    height: 45px;
    font-size: 16px;
  }
  .wrapper .search-results__title {
    margin-bottom: 25px;
  }
  .filters__title {
    margin: 25px 0;
    line-height: 1;
    font-size: 12px;
  }

  .filters__cards {
    grid-template-columns: 1fr;
  }
  .menu {
    padding: 9px 0;
  }
  .filters .filters__field .accordion {
    min-width: 170px;
    width: 100%;
  }
  .filters__item {
    padding: 3px 30px 3px 7px;
  }
  section.search-results {
    margin: 40px 0 0 0 !important;
  }
  .filters__card-desc span {
    margin: 16px 0 10px;
  }
  .filters__card {
    width: 100%;
    margin-bottom: 15px;
  }
  .filters__title {
    text-align: center;
  }
  div.wrapper_subcategory {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  /*----------filters-setting-----------*/
  .accordion__body.accordion__body_range-thread input {
    max-width: 65px;
  }
  .accordion__body.accordion__body_range-thread p {
    justify-content: space-around;
  }
  .hiro-bg.hiro-bg_fitting {
    height: 270px;
  }
  section.filter-fitting {
    margin-top: 50px !important;
  }
  .tube.tube-fitting_section {
    margin-bottom: 70px;
  }
  /*-------аккордион-*/
  .desc-sheme {
    margin-bottom: 25px;
    img {
      margin-right: 30px;
      width: 100%;
      max-width: 100px;
      flex: 1;
    }
  }
  .desc-info {
    margin: 35px 0 35px;
  }
  .desc-sheme_one {
    margin-top: 40px;
  }
  .desc-sheme-big {
    margin: 40px 0 46px;
  }
  .wrapper_structure .structure-box {
    display: flex;
    margin-bottom: 60px;
    img {
      margin-right: 50px;
      height: fit-content;
      width: 50%;
    }
  }
  .size-title {
    margin: 34px 0 38px;
  }
  .size-box {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 23px;
    margin-bottom: 34px;
  }
  .link-box .link-img {
    margin-right: 32px;
  }
  .link-box .link-img::after {
    right: -30px;
    width: 21px;
    height: 21px;

    background: url(../img/icon/pdf.svg);
    background-position: center center;
    background-size: cover;
  }
  div.wrapper_product {
    grid-template-columns: minmax(215px, 506px);
    gap: 40px;
    justify-content: center;
  }
  .wrapper_product .accordion {
    margin-top: 50px;
  }
  .tabs-nav a {
    display: block;
    padding: 10px 5px;
    text-transform: uppercase;
    font-size: 10px;
  }
  .ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
    height: 21px !important;
    width: 21px !important;
    background-size: 17px 17px !important;
  }
}
@media (max-width: 450px) {
  section {
    margin-top: 30px;
  }
  .title-h3 {
    font-size: 25px;
    line-height: 30px;
  }
  .title-h4 {
    text-align: center;
    line-height: 1;
  }
  .menu-mobile .dropdown__options {
    width: 100%;
  }
  .wrapper_info .info-top {
    margin: 30px 0;
  }
  /*--------catalog--------*/
  .tube .wrapper_accordion {
    grid-template-columns: 300px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .wrapper_internal {
      padding: 0;
      padding-bottom: 40px;
    }
    .accordion {
      min-width: 260px;
    }
  }
  .tube.tube_fittings {
    .wrapper_accordion {
      grid-template-columns: 300px;
      .wrapper_internal {
        padding-top: 40px;
      }
      .wrapper-img {
        margin-bottom: 40px;
      }
      .text-medium {
        font-size: 12px;
      }
    }
  }
  .accordion__item .accordion__title {
    padding: 15px 0;
    font-size: 12px;
    padding-right: 10px;
  }
  .accordion .accordion__title:after {
    height: 10px;
    width: 10px;
    background-size: contain;
  }
  .filters {
    gap: 20px;
  }
  .filters__field-cards {
    min-width: 0;
  }
  .filters-pagination .pagination-counter {
    font-size: 15px;
    line-height: 1.5;
    color: #222933;
    margin: 0px 15px;
  }
  .filters-pagination {
    .pagination-left {
      height: 17px;
      width: 17px;
      background-size: contain;
    }
    .pagination-right {
      height: 17px;
      width: 17px;
      background-size: contain;
    }
  }
  div.wrapper_subcategory {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  /*----------filters-setting-----------*/
  .accordion__body.accordion__body_range-thread input {
    max-width: 40px;
    padding: 9px 3px;
    font-size: 12px;
  }
  .accordion__body.accordion__body_range-thread p {
    justify-content: space-around;
  }
  div.hiro-bg_fitting {
    height: 250px;
  }
  .tube.tube-fitting_section {
    margin-bottom: 0;
  }
  /*--------аккордион------------*/
  .wrapper_structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    .structure-list {
      padding-left: 27px;
    }
    .structure-box {
      img {
        margin-right: 0px;
        margin-bottom: 30px;
        width: 50%;
      }
      margin-bottom: 30px;
      flex-direction: column;
      align-items: center;
    }
    .structure-title {
      text-align: center;
    }
  }
  input.custom-checkbox + label {
    margin-bottom: 10px;
    font-size: 12px;
    &::before {
      margin-right: 10px;
    }
  }
  div.hiro-bg {
    height: 150px;
  }
}

@media (max-width: 420px) {
  .number {
    width: 108px;
    bottom: 120px;
  }
  .application .production__text {
    max-width: 241px;
  }
  .menu .search {
    padding-right: 15px;
    border-right: 0.75px solid rgba(34, 41, 51, 0.2);
    .search-btn {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .menu-burger {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 15px;
  }

  .logo {
    position: relative;
    bottom: -11px;
  }
  .menu-mobile {
    top: 45px;
    width: 100%;
    border-radius: 0;
  }
  .slider-arrows__left {
    right: 10px;
  }
  .slider-arrows__right {
    left: 10px;
  }
  .filters .filters__field .accordion {
    min-width: 139px;
    width: 100%;
  }
  .filters__title {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 11px;
  }
  /*----------------fitting*/
  section.filter-fitting .filters__cards {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)) !important;
  }
  .series td.td-name {
    text-align: start;
    padding: 11px 5px;
  }
  .series.link-medium {
    font-size: 10px;
  }
  .series_size .th-series {
    width: 95px;
  }
}
@media (max-width: 340px) {
  .title-section {
    line-height: 25px;
    padding-bottom: 16px;
    font-size: 20px;
    max-width: 233px;
  }
  .menu-mobile {
    top: 45px;
  }
  .search-btn input[type="search"] {
    height: 43px;
    font-size: 16px;
  }
  .logo {
    display: none;
  }
  .menu {
    padding: 9px 0px;
  }

  .hiro h1.title {
    font-size: 19px;
    line-height: 33px;
    margin-top: 15px;
    max-width: calc(100vw - 40px);
    margin: 20px 0 21px;
  }
}
