@media (max-width: 1400px) {
  html {
    font-size: 8px !important;
  }
  .wrapper {
    padding: 0 25px;
  }
  .hiro {
    &__container {
      justify-content: space-around;
    }
  }
  .primary-btn {
    margin-bottom: 60px;
  }
  .line:not(:last-child) {
    margin-bottom: 20px;
  }
  h1.title {
    font-size: 5.4rem;
    line-height: 7.8rem;
    max-width: 750px;
    padding: 50px 0 50px;
    span {
      font-size: 2.8rem;
      line-height: 4.6rem;
    }
  }
  .application {
    .production__text {
      max-width: 750px;
    }
  }
  .number {
    position: absolute;
    right: 0;
    width: 300px;
  }
  .slider-app__img {
    width: 300px;
    height: 259px;
  }
  .slider-app__desc {
    max-width: 250px;
    bottom: 30px;
    left: 40px;
  }
  .slick-dots button {
    width: 50px;
  }
  /*------------catalog------------*/
}

@media (max-width: 1250px) {
  section {
    padding-top: 50px;
  }

  .experience {
    &__card {
      padding-bottom: 40px;
    }
  }
  .application {
    .production__text {
      max-width: 650px;
    }
  }
  .number {
    position: absolute;
    right: 0;
    width: 250px;
  }
  /*-------catalog-----------*/
  // .tube .wrapper_accordion .wrapper_internal {
  //   padding: 45px 0 45px 50px;
  // }
  .tube .wrapper_accordion {
    grid-template-columns: auto 500px;
    align-items: center;
    gap: 100px;
    .tube-img {
      width: 100%;
    }
    .accordion {
      width: 100%;
    }
  }
}

@media (max-width: 915px) {
  .header__bottom,
  .dropdown,
  .phone {
    display: none;
  }
  .menu-burger,
  .menu-mobile {
    display: block;
  }
  .production__link {
    margin-left: 10px;
  }
  .footer-mobile-bottom__list {
    padding-bottom: 10px;
  }
  .fitting {
    .product__card {
      width: 215px !important;
    }
  }
  .application {
    .production__text {
      max-width: 350px;
    }
  }
  .number {
    position: absolute;
    right: 0;
    width: 225px;
  }
  .dropdown__options {
    min-width: 165px;
  }
  .search-btn input[type="search"] {
    height: 59px;
  }
  /*------------catalog------------*/
  .tube .wrapper_accordion {
    grid-template-columns: 400px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .wrapper_internal {
      padding: 0;
      padding-bottom: 40px;
    }
    .accordion {
      width: 100%;
    }
    .tube-img {
      width: 100%;
    }
  }
  .tube.tube_fittings {
    .wrapper_accordion {
      grid-template-columns: 400px;
      .wrapper_internal {
        padding: 0;
        padding-top: 45px;
      }
    }
  }
  .title-h4 {
    text-align: center;
  }
  .popular__cards .popular__card {
    max-width: 215px;
  }
}

@media (max-width: 730px) {
  .footer__menu {
    display: none;
  }
  .slick-dots button {
    width: 30px;
  }
  .footer-mobile {
    display: block;
  }
}
@media (max-width: 660px) {
  h1.title {
    font-size: 25px;
    line-height: 45px;
    max-width: calc(100vw - 46px);
  }

  .wrapper {
    padding: 0 23px;
  }
  .product__img {
    width: 100%;
    min-height: 148px;
  }
  .product__main {
    figcaption {
      top: 16px;
      left: 16px;
      font-size: 16px;
      line-height: 24px;
      opacity: 1;
      max-width: 210px;
    }
  }
  .application {
    .production__info {
      align-items: flex-start;
    }
  }
  .production__info {
    flex-direction: column;
    .production__link {
      margin-left: 0px;
    }
  }
  .fitting .product__card {
    width: 160px !important;
  }
  .product__card figcaption {
    bottom: 6px;
    left: 24px;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .production {
    .product__cards {
      display: flex;
      .product__card {
        width: 160px !important;
      }
    }

    .slider-arrows {
      &__left {
        position: absolute;
        right: 23px;
        top: 50%;
        transform: translate(50%, -50%);
      }
      &__right {
        position: absolute;
        left: 23px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .experience__desc {
    letter-spacing: 0;
  }
  .experience__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
  .logo {
    position: relative;
    bottom: -6px;
    img {
      width: 200px;
    }
  }
  .menu {
    padding-bottom: 5px;
  }
  .menu-mobile {
    top: 34px;
  }
  .experience__card {
    padding-bottom: 0px;
    padding-top: 8px;
    margin: 0 auto;
    max-width: 600px;
    .experience__img {
      width: 100%;
    }
  }
  .experience__card:not(:nth-child(1)) {
    border-top: 2px solid rgba(34, 41, 51, 0.2);
  }
  .experience__title {
    padding: 24px 0 12px;
  }
  .header__wrapper {
    padding: 0px 10px;
  }
  section {
    padding-top: 40px;
  }
  .title-section {
    line-height: 25px;
    padding-bottom: 16px;
    font-size: 23px;
    max-width: 246px;
  }
  .number {
    width: 128px;
    bottom: 89px;
  }
  .slider-app {
    margin-top: 13px;
  }
  .production__text {
    min-width: 200px;
    padding-top: 15px;
  }
  .production__info {
    padding-bottom: 22px;
  }
  html {
    font-size: 7px !important;
  }
  .footer {
    margin-top: 48px;
  }
  .search-btn input[type="search"] {
    height: 40px;
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  section {
    padding-top: 30px;
  }
  .title-h3 {
    font-size: 25px;
    line-height: 40px;
  }
  .title-h4 {
    text-align: center;
    line-height: 1;
  }
  /*--------catalog--------*/
  .tube .wrapper_accordion {
    grid-template-columns: 300px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .wrapper_internal {
      padding: 0;
      padding-bottom: 40px;
    }
    .accordion {
      min-width: 260px;
    }
  }
  .tube.tube_fittings {
    .wrapper_accordion {
      grid-template-columns: 300px;
      .wrapper_internal {
        padding-top: 40px;
      }
      .wrapper-img {
        margin-bottom: 40px;
      }
      .text-medium {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 420px) {
  .number {
    width: 108px;
    bottom: 120px;
  }
  .application .production__text {
    max-width: 241px;
  }
  .menu .search {
    padding-right: 7px;
    border-right: 0.75px solid rgba(34, 41, 51, 0.2);
    .search-btn {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .menu-burger {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 20px;
  }
  .menu {
    padding-bottom: 0px;
  }
  .logo {
    position: relative;
    bottom: -3px;
  }
  .menu-mobile {
    top: 28px;
    width: 100%;
    border-radius: 0;
  }
  .slider-arrows__left {
    right: 10px;
  }
  .slider-arrows__right {
    left: 10px;
  }
}
@media (max-width: 340px) {
  .title-section {
    line-height: 25px;
    padding-bottom: 16px;
    font-size: 20px;
    max-width: 233px;
  }
  .menu-mobile {
    top: 37px;
  }
  .logo {
    display: none;
  }
  .menu {
    padding: 6px 0px;
  }

  .hiro h1.title {
    font-size: 19px;
    line-height: 33px;
    margin-top: 15px;
    max-width: calc(100vw - 40px);
    padding: 20px 0 21px;
  }
}
/*-------медиазапросы по высоте-----------*/
@media (max-height: 500px) {
  .hiro h1.title {
    font-size: 27px;
    line-height: 30px;
    margin-top: 90px;
    max-width: 638px;
    padding: 20px 0 19px;
    span {
      font-size: 15px;
      line-height: 25px;
    }
  }
  .primary-btn {
    padding: 9px 25px;
    margin-bottom: 30px;
  }
  .menu-mobile .nav-item:not(:last-child) {
    padding-bottom: 15px;
  }
  .title-section {
    padding-bottom: 15px;
  }

  .footer {
    margin-top: 60px;
  }
  .slider-app {
    margin-top: 0px;
    padding-top: 24px;
    position: relative;
    margin-bottom: 50px;
  }
  .production__text {
    max-width: 660px;
  }
}
@media (max-height: 400px) {
  .line:not(:last-child) {
    margin-bottom: 15px;
  }
  .primary-btn {
    margin-bottom: 20px;
  }
  .line {
    width: 30px;
    padding: 1px;
    &_active {
      width: 50px;
      height: 3px;
    }
  }
  .menu-mobile .dropdown {
    padding: 9px 0 9px 17px;
  }
  .menu-mobile .nav {
    padding: 10px 0 0 20px;
  }
}
@media (max-height: 350px) {
  .hiro h1.title {
    font-size: 24px;
    line-height: 1;
    margin-top: 90px;
    max-width: 638px;
    padding: 20px 0 8px;
  }
  .line:not(:last-child) {
    margin-bottom: 10px;
  }
  .menu-mobile .dropdown {
    padding: 9px 0 9px 17px;
  }
  .menu-mobile .nav {
    padding: 10px 0 0 20px;
  }
  .nav-link {
    font-size: 1.6rem;
    line-height: 126%;
  }

  .product__card figcaption {
    bottom: 10px;
    left: 18px;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .fitting .product__card {
    width: 148px !important;
  }
  .production__info {
    flex-direction: column;
    align-items: start;
  }
}
