@media (max-width: 1400px) {
  html {
    font-size: 8px !important;
  }
  .wrapper {
    padding: 0 25px;
  }
  .hiro {
    &__container {
      justify-content: space-around;
    }
  }
  .primary-btn {
    margin-bottom: 60px;
  }
  .line:not(:last-child) {
    margin-bottom: 20px;
  }
  h1.title {
    font-size: 5.4rem;
    line-height: 7.8rem;
    max-width: 750px;
    padding: 50px 0 50px;
    span {
      font-size: 2.8rem;
      line-height: 4.6rem;
    }
  }
  .application {
    .production__text {
      max-width: 750px;
    }
  }
  .number {
    position: absolute;
    right: 0;
    width: 300px;
  }
  .slider-app__img {
    width: 300px;
    height: 259px;
  }
  .slider-app__desc {
    max-width: 250px;
    bottom: 30px;
    left: 40px;
  }
  .slick-dots button {
    width: 50px;
  }
}

@media (max-width: 1250px) {
  section {
    padding-top: 50px !important;
  }

  .experience {
    &__card {
      padding-bottom: 40px;
    }
  }
  .application {
    .production__text {
      max-width: 650px;
    }
  }
  .number {
    position: absolute;
    right: 0;
    width: 250px;
  }
}

@media (max-width: 915px) {
  .header__bottom,
  .dropdown,
  .phone {
    display: none;
  }
  .menu-burger,
  .menu-mobile {
    display: block;
  }

  .fitting {
    .product__card {
      width: 215px !important;
    }
  }
  .application {
    .production__text {
      max-width: 350px;
    }
  }
  .number {
    position: absolute;
    right: 0;
    width: 250px;
  }
}

@media (max-width: 730px) {
  .footer__menu {
    display: none;
  }
  .slick-dots button {
    width: 30px;
  }
  .footer-mobile {
    display: block;
  }
}
@media (max-width: 660px) {
  h1.title {
    font-size: 25px;
    line-height: 45px;
    max-width: calc(100vw - 46px);
  }

  .wrapper {
    padding: 0 23px;
  }
  .product__img {
    width: 100%;
    min-height: 148px;
  }
  .product__main {
    figcaption {
      top: 16px;
      left: 16px;
      font-size: 16px;
      line-height: 24px;
      opacity: 1;
      max-width: 210px;
    }
  }
  .production {
    .product__cards {
      display: flex;
      .product__card {
        width: 160px !important;
      }
      .product__card {
      }
    }

    .slider-arrows {
      &__left {
        position: absolute;
        right: 23px;
        top: 50%;
        transform: translate(50%, -50%);
      }
      &__right {
        position: absolute;
        left: 23px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .experience__desc {
    letter-spacing: 0;
  }
  .experience__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
  .logo {
    position: relative;
    bottom: -6px;
    img {
      width: 200px;
    }
  }
  .menu {
    padding-bottom: 5px;
  }
  .menu-mobile {
    top: 34px;
    height: calc(100vh - 120px);
    width: 200px;
  }
  .experience__card {
    padding-bottom: 0px;
    padding-top: 8px;
  }
  .experience__card:not(:nth-child(1)) {
    border-top: 2px solid rgba(34, 41, 51, 0.2);
  }
  .experience__title {
    padding: 24px 0 12px;
  }
  .header__wrapper {
    padding: 0px 10px;
  }
  section {
    padding-top: 40px !important;
  }
  .title-section {
    line-height: 25px;
    padding-bottom: 30px;
    font-size: 23px;
    max-width: 200px;
  }
  .number {
    width: 128px;
    bottom: 87px;
  }
  .slider-app {
    margin-top: 13px;
  }
  .production__text {
    min-width: 200px;
  }
  .production__info {
    padding-bottom: 22px;
  }
  html {
    font-size: 7px !important;
  }
}
