@import "../css/jquery.scrollbar.css";
@import "reset";
@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "header";
@import "hiro";
@import "experience";
@import "production";
@import "application";
@import "footer";
@import "media-height";
@import "scroll";
@import "catalog";
@import "fitting-function";
@import "error";
@import "search-results";
@import "fitting-expense";
@import "fitting";
@import "product-card";
@import "document";
@import "media";

html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: $evol, sans-serif;
}

* {
  box-sizing: border-box;
}
