@import "reset";
@import "vars";
@import "libs";
@import "fonts";

@import "global";
@import "header";
@import "hiro";
@import "experience";
@import "production";
@import "application";
@import "footer";
@import "media";
@import "catalog";

html {
  font-size: 10px;
}
body {
  font-family: $evol, sans-serif;
}

* {
  box-sizing: border-box;
}
